# Files to ignore
*__pycache__
data/archived/*
data/contrastive/*
data/raw/*
data/scratch/*
data/radiology*
data/test*
dpo/*
gexplain/*
muss/*
misc/*
models/*
nli/*
nohups/*
output/archived/*
output/cutoff/*
output/dpo/*
output/human_eval/*
output/mi/*
output/ul/archived/*
QuestEval/*
RL4LMs/*
wandb/*
scratch/*
test*
wandb/*
contrastive_training.py
eval_gpt.ipynb
eval_human.ipynb
eval.py
gpt_explain.ipynb
gpt_summarize.ipynb
gpt.ipynb
nohup.out
openai_key
train_causal.py
train_dpo.py
scratch.ipynb
scratch_napss.ipynb
generate.py
.vscode
