# Files to ignore
*__pycache__
data/archived/*
data/contrastive/*
data/raw/*
data/scratch/*
data/cnn*
data/xsum*
data/radiology*
data/test*
deprecated
dpo
gexplain
loss-library
muss
misc
models
loss_truncation_eda/data
loss_truncation_eda/logits
loss_truncation_eda/scratch
nohups
output/archived
output/cutoff
output/dpo
output/human_eval
output/mi
output/ul/archived
output/**/radiology*
QuestEval
RL4LMs
wandb
scratch
test
contrastive_training.py
eval_gpt.ipynb
eval_human.ipynb
eval.ipynb
generate.py
gpt_explain.ipynb
gpt_summarize.ipynb
gpt.ipynb
nohup.out
openai_key
train_causal.py
train_dpo.py
scratch.ipynb
scratch_napss.ipynb
.vscode
