# Files to ignore
data/archived/*
data/contrastive/*
data/raw/*
data/scratch/*
muss/*
misc/*
models/*
nohups/*
QuestEval/*
RL4LMs/*
wandb/*
scratch/*
test*
output/archived/*
output/*/archived/*
nohups/*
openai_key
*__pycache__
scratch.ipynb
scratch_napss.ipynb
.vscode
contrastive_training.py
preprocess_tico.ipynb