# General
pandas
numpy
notebook
matplotlib
argparse
wandb
scikit-learn 

# Pre-commit
pre-commit
isort # ==4.3.5

# Training
torch==1.13.1
transformers
git+https://github.com/huggingface/transformers
datasets # ==2.0.0

# Evaluation
evaluate==0.3.0
rouge-score # ==0.1.2
bert-score # ==0.3.13
sacrebleu
sacremoses
textstat
sentencepiece
# git+https://github.com/feralvam/easse.git

# Preprocessing
wikipedia # ==1.4.0
spacy # ==3.4.4
scispacy

# LLMs
openai

# Miscellaneous
typing
streamlit